* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.title{
    display:flex;
    background-color:red;
    height: 10%;
    width: 100%;
    font-size: 60px;
}

.containerToDo{
    height: 50px;
    width: 50px;
    background-color: blue;
};
.containerDoing{    
    height: 50px;
    width: 50px;
    background-color: blue;}

.containerDone{    
    height: 50px;
    width: 50px;
    background-color: blue;}