* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.title{
    display:flex;
    background-color:red;
    height: 10%;
    width: 100%;
    font-size: 60px;
}

.containerToDo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }

.containerDoing{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.containerDone{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #312e2e;
    color:white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.containerPaLosContainers{
    display: flex;
    flex-direction: row;
}

.botonRojito{

}

.botonAzulito{

}